#app_canvas canvas::before {
  width: 100vw !important;
  height: 100vh !important;
}

#app_canvas canvas {
  
  position: relative;
  align-self: center;
  background-image: url("src/assets/tennis-court-playground-svgrepo-com.svg");
  background-size: 100%;
  background-position: 100%;
  background-repeat: no-repeat;
  aspect-ratio: unset !important;
}

#canvass {
  min-width: 100vw;
  height: 80vh;
  background-color: darkseagreen;
}

#score {
  font-size: 2rem;
  text-align: center;
  position: relative;
  align-self:center;
  color: rgb(0, 0, 0);
  background-color: darkseagreen;
  background-image: url("src/assets/grass_texture.webp");
  margin: 0%;
  margin-bottom: 1%;
}

#score::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-image: url("src/assets/grass_texture.webp");
  filter: blur(5px); /* Adjust blur radius as needed */
  z-index: -1; /* Place the pseudo-element behind the content */
  margin: 0%;
}